%section.test_cards_section
  %h1.test_cards_header Test Cards

  %section
    %h4.test_card_category_header Working Cards
    %ul.test_cards
      %li
        .test_card_number
          %span 4242
          %span 4242
          %span 4242
          %span 4242
        %b VISA
      %li
        .test_card_number
          %span 4012
          %span 8888
          %span 8888
          %span 1881
        %b VISA
      %li
        .test_card_number
          %span 5555
          %span 5555
          %span 5555
          %span 4444
        %b MC
      %li
        .test_card_number
          %span 3782
          %span 822463
          %span 10005
        %b AMEX
      %li
        .test_card_number
          %span 6011
          %span 1111
          %span 1111
          %span 1117
        %b Discover

    %h4.test_card_category_header Declined Cards
    %ul.test_cards
      %li
        .test_card_number
          %span 4000
          %span 0000
          %span 0000
          %span 0002
        %b VISA
      %li
        .test_card_number
          %span 4100
          %span 0000
          %span 0000
          %span 0019
        %b VISA
      %li
        .test_card_number
          %span 4000
          %span 0000
          %span 0000
          %span 0127
        %b MC
      %li
        .test_card_number
          %span 4000
          %span 0000
          %span 0000
          %span 0069
        %b Discover
