%section.ui-form-page
  %h2 Log In

  %form.form-group
    %input(type="text" class="form-control" id="email" name="email" placeholder="Email")
    %input(type="text" class="form-control" id="password" name="password" placeholder="Password")
    %input(type="submit" class="btn write-review" value="Log In")
